<div id="Frame" class="shadow center Frame">
    <div style="margin: 0 10px;">

        <li id="choose_card_1" class="shadow card_1 choose_card" exit-anime="card_exit_1">
            <a href="#" onclick="exit();flanHome.frame_turn.stop()" class="card_hover">
                <div class="card_hover_font" style="color: #4E9BFC;">原主人介绍</div>
            </a>
            <a href="#" onclick="exit();flanHome.frame_turn.stop()" style="background-image: url('./public/images/card_1.jpg');cursor:no-drop;" class="card_img card_img1"></a>
        </li>

        <li id="choose_card_2" class="shadow card_2 choose_card" exit-anime="card_exit_2">
            <a target="_blank" href="./test.html" class="card_hover">
                <div class="card_hover_font" style="color: #FF7B7B;">椎名真白</div>
            </a>
            <a href="#" style="background-image: url('./public/images/card_2.jpg');cursor:no-drop;" class="card_img card_img2"></a>
        </li>

        <li id="choose_card_3" class="shadow card_3 choose_card" exit-anime="card_exit_1">
            <a href="./wushiyin.html" class="card_hover">
                <div class="card_hover_font" style="color: #8c899c;">康娜卡姆依</div>
            </a>
            <a href="./wushiyin.html" style="background-image: url('./public/images/card_3.jpg'); cursor:no-drop;" class="card_img card_img3"></a>
        </li>

        <li id="choose_card_4" class="shadow card_4 choose_card" exit-anime="card_exit_2">
            <a target="_blank" href="./test.html" class="card_hover">
                <div class="card_hover_font" style="color: #f35961;">和泉纱雾</div>
            </a>
            <a href="#" style="background-image: url('./public/images/card_4.jpg'); cursor:no-drop;" class="card_img card_img4"></a>
        </li>

        <li id="choose_card_5" class="shadow card_5 choose_card" exit-anime="card_exit_1">
            <a target="_blank" href="./test.html" class="card_hover">
                <div class="card_hover_font" style="color: #a7e3b8;">艾米莉亚</div>
            </a>
            <a href="#" style="background-image: url('./public/images/card_5.jpg'); cursor:no-drop;" class="card_img card_img5"></a>
        </li>

        <li id="choose_card_6" class="shadow card_6 choose_card" exit-anime="card_exit_2">
            <a target="_blank" href="./test.html" class="card_hover">
                <div class="card_hover_font" style="color: #9ad0fb;">加贺</div>
            </a>
            <a href="#" style="background-image: url('./public/images/card_6.jpg');cursor:no-drop;" class="card_img card_img6"></a>
        </li>

        <li id="choose_card_7" class="shadow card_7 choose_card" exit-anime="card_exit_1">
            <a href="./test.html" class="card_hover">
                <div class="card_hover_font" style="color: #62c462;">雷姆</div>
            </a>
            <a href="#" style="background-image: url('./public/images/card_7.jpg');cursor:no-drop;" class="card_img card_img7"></a>
        </li>

    </div>
</div>
